
<!DOCTYPE html>
<html>
  <head>

    <title>Pedro Miranda</title>
    <link rel="icon" type="image/png" href="/Down-Arrow.png" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



 <!-- Testing random additions for github in atom -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/jquery.js"></script>
<script src="/scrollTop.css"></script>


<style>
html {
  scroll-behavior: smooth;
}

</style>

  </head>
  <body>

<!-- INICIO NAV -->
    <nav class="navbar fixed-top navbar-expand-lg toggle-height " id="global-nav">
         <div class="container">
        <a class="navbar-brand scrollN" href="/"><font face = "Gravity-Regular" size = "3">Pedro Miranda</font></a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon custom-toggler"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li > <a class="nav-link scrollN " href="/software/"><font face = "Gravity-Regular">Software</font></a></li>
            <li> <a class="nav-link scrollN " href="/eletronica/"><font face = "Gravity-Regular">Eletrônica</font></a></li>
            <!--<li><a class="nav-link scrollN " href="/films/">Films</a></li>
            <li><a class="nav-link scrollN " href="/photography/">Photography</a></li> -->
          </ul>
          <ul class="navbar-nav">
              <li><a class="nav-link scrollN" href="/contacts/new"><font face = "Gravity-Regular">Contato</font></a></li>
          </ul>
        </div>
         </div>


</nav>

<!-- FIM NAV -->

    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain"  style="letter-spacing: 4px;padding-bottom: 0;">Pedro Miranda</h1>
            <h3>Um entusiasta programador apaixonado por tecnologia inovadora e conteúdo digital.</h3>
        </div>

        <div class="homeLeiaMais"  id="section1">
            <h4><a class="stealthLink subPmin padX0" href="#sobreMim">Leia mais</h4>
            <button class="smoothScrollBtn" type="button" href="#sobreMim"><img src="/Down-Arrow-White.png" width="25"/></button>
            </a>
        </div>

    </div>

    <div class="container-fluid aboutMe" id="sobreMim">
        <div class="container aboutMe">
            <div class="row rowPad" >
                <div class="col-md-4">
                    <img src="/red2.jpg"  class="circleImg"></img>
                </div>
                <div class="col-md-8">
                    <p class="pad20" align = "justify">Bem-vindo ao meu site. Eu sou um hobbista em eletrônica,
                        curioso e, atualmente, estudante de engenharia de software na Universidade de Brasília.
                        No passado, graduei 7 semestres dentro do curso de engenharia eletrônica, um dos quais,
                        participei de alguns projetos envolvendo arduino e construção de simulações gráficas, usando C# dentro da engine Unity (Momento em que me apaixonei pela produção de jogos 2D e 3D).
                        Durante a evolução desses projetos, me encantei pela área de desenvolvimento de software e sua ilimitada gama de possibilidades. Desde então, venho buscando novas experiências e aprendizados construtivos tanto sociais quanto profissionais.</br>
                        Meu objetivo é participar de novos projetos e trabalhos afim de aperfeiçoar minhas habilidades profissionais e, a partir disso, descobrir em qual das áreas de desenvolvimento de software tenho mais facilidade e produtividade. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px;display:table; margin:0 auto;"><font face = "Gravity-Regular" size = "6">SOFTWARE</font></h1>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">JAVA</h3>
                    <h5 class="tileDesc subPmin white" >7 meses de orientação a objetos para desenvolvimento de interfaces gráficas para usuários,
                        porém buscando novos tipos de projetos com o intuito de aprimorar conhecimentos na linguagem.</h5>
                    <ul class="centerLinks" style="display:table; margin:0 auto;">
                        <li style="display:inline-block;">
                            <!--<a href="software/timelapse-auto-ramp"><p style="border-width:0px" id="PSDPlug">Timelapse Photoshop Plugin</p></a>-->
                        </li>
                        <!--<li class="brText"><p>|</p></li>-->
                        <li style="display:inline-block;">
                            <a href="/software#top"><p>Projetos em desenvolvimento!</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">C</h3>
                    <h5 class="tileDesc subPmin white">1 ano desenvolvendo algoritmos de alto nível e estrutura de dados usando Linux (Ubuntu) terminal</h5>
                    <ul class="centerLinks" style="display:table; margin:0 auto;">
                        <li style="display:inline-block;">
                            <!--<a href="software/pathfinding"><p style="border-width:0px" id="pathLink">A* Pathfinding Command Line</p></a>-->
                        </li>
                        <!--<li class="brText"><p>|</p></li>-->
                        <li style="display:inline-block;">
                            <a href="/software#top"><p>Projetos em desenvolvimento!</p></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">C++</h3>
                    <h5 class="tileDesc subPmin white">6 meses desenvolvendo algoritmos de alto nível e estrutura de dados usando Linux (Ubuntu) terminal</h5>
                    <ul class="centerLinks" style="display:table; margin:0 auto;">
                        <li style="display:inline-block;">
                            <!--<a href="electronics/air-conditioner-DIY"><p style="border-width:0px">DIY Air Conditioner</p></a>-->
                        </li>
                        <!--<li class="brText"><p>|</p></li>-->
                        <li style="display:inline-block;">
                            <a href="/software#top"><p>Projetos em desenvolvimento!</p></a>
                        </li>
                    </ul>
                </div>


                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">C#</h3>
                    <h5 class="tileDesc subPmin white">1 ano e 6 meses com Orientação a Objetos participando de criação de jogos e simulações gráficas (** COLOCAR NO PROJETO DE FLUXO SANGUINEO QUE ISSO FOI UMA PALESTRA QUE FIZ PARA LEIGOS SOBRE COMO É A PRODUÇÃO DE UMA SIMULAÇÃO )</h5>
                    <ul class="centerLinks" style="display:table; margin:0 auto;">
                        <li style="display:inline-block;">
                            <a href="/software/fluxo-sanguineo"><p style="border-width:0px">Fluxo Sanguíneo</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="/software#top"><p>Ver todos os projetos</p></a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row">
              <div class="col-md-6 tilePadWide softTileBack col2Pad">
                  <h3 class="white regTitle cenX">WEB</h3>
                  <h5 class="tileDesc subPmin white">Experiência com GIT, HTML, CSS, Javascript, bootstrap em frameworks como Django e rails, cujo o mesmo foi utilizado para a construção desse site pela linguagem Ruby e demais.</h5>
                  <ul class="centerLinks" style="display:table; margin:0 auto;">
                      <li style="display:inline-block;">
                        <!--  <a href="electronics/air-conditioner-DIY"><p style="border-width:0px"></p></a> -->
                      </li>
                    <!--  <li class="brText"><p>|</p></li>-->
                      <li style="display:inline-block;">
                          <a href="/software#top"><p>Ver todos os projetos</p></a>
                      </li>
                  </ul>
              </div>

                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">PYTHON</h3>
                    <h5 class="tileDesc subPmin white">Experiência Básica, na qual utilizei para produção de
                      um dos meus sites pelo framework Django</h5>
                      <ul class="centerLinks" style="display:table; margin:0 auto;">
                          <li style="display:inline-block;">
                              <a href="/software/projeto_icf"><p style="border-width:0px">Site ICF _</p></a>
                          </li>
                          <li class="brText"><p>|</p></li>
                          <li style="display:inline-block;">
                              <a href="/software#top"><p> Ver todos os projetos</p></a>
                          </li>
                      </ul>
                </div>

                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">...</h3>
                    <h5 class="tileDesc subPmin white">Ao longo do meu desenvolvimento, novos conhecimentos serão alocados aqui!</h5>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">...</h3>
                    <h5 class="tileDesc subPmin white"></h5>
                </div>
                <a class="btn btn-outline-secondary btn-lg centerBtn" href="software" role="button">Ver mais</a>
            </div>
        </div>
    </div>

    <div class="container-fluid electronicsBack">
        <div class="container extraSpace">
            <h2 class="centerTitle subTitle padX0 padtop0">ELETRÔNICA</h2>
            <div class="row">
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class= "cenX subTitle padX0">Ascender lâmpada por palmas</h3>
                        <h5 class="tileDesc subPmin">Utilizando arduino e alguns componentes eletrônicos auxiliares,
                          desenvolvi uma forma de enviar energia da frequência produzida por uma palma para uma lâmpada, em sua devida voltagem. </h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">Carregador solar para celular</h3>
                        <h5 class="tileDesc subPmin">Com o uso de células solares com seu efeito fotovoltáico, estou desenvolvendo um carregador solar portátil para celular. Em desenvolvimento.</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">Automatização de sistemas</h3>
                        <h5 class="tileDesc subPmin">Vindo em futuros projetos!</h5>
                    </div>
                </div>
                <a class="btn btn-secondary btn-lg centerBtn" href="/eletronica" role="button">Ver mais</a>

            </div>
        </div>
    </div>

    <footer class="footer container-fluid">
      <div class="container extraSpace">
          <ul class="centerLinks socialIcons" style="display:table; margin:0 auto;">
              <li style="display:inline-block">
                  <a href="https://www.instagram.com/pedro.jams/"><img src="/icons/instagram.png"></img></a>
              </li>
              <li style="display:inline-block">
                  <a href="https://github.com/pedroMiranda7410"><img src="/icons/github.png"></img></a>
              </li>
              <li style="display:inline-block">
                  <a href="https://gitlab.com/pmiranda7410"><img src="/icons/gitlab.png"></img></a>
              </li>
              <li style="display:inline-block">
                  <a href="https://www.linkedin.com/in/pedro-henrique-a09054167/"><img src="/icons/linkedIn.png"></img></a>
              </li>
              <li style="display:inline-block">
                  <a href="/contacts/new"><img src="/icons/email.png"></img></a>
              </li>
          </ul>
          <p class="footerText subP">Me envie um e-mail para sugestões,
          colaborações ou apenas uma boa conversa!<br>pmiranda7410@gmail.com</p>
      </div>
      <div class="bottomLinksDiv" style="position:absolute;right:0;left:0;">
          <div class="container">
              <div class="row">
                  <div class="col-6 col-md">
                      <a href="/">Home</a>
                  </div><div class="col-md rm"><p>|</p></div>
                  <div class="col-6 col-md" >
                      <a href="/software">Software</a>
                  </div><div class="col-md rm"><p>|</p></div>
                  <div class="col-6 col-md">
                      <a href="/eletronica">Eletrônica</a>
                  </div><div class="col-md rm"><p>|</p></div>
                  <div class="col-6 col-md">
                      <a href="/contacts/new">Contato</a>
                  </div>
              </div>
          </div>
      </div>
  </footer>
    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
